services:
  gitlab:
    image: gitlab/gitlab-ce
    container_name: gitlab
    restart: always
    hostname: "${ENDERECO}"
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url "https://${ENDERECO}"
    ports:
      - "${PORTA_HTTP}:80"
      - "${PORTA_HTTPS}:443"
      - "${PORTA_SSH}:22"
    volumes:
      - 'config:/etc/gitlab'
      - 'logs:/var/log/gitlab'
      - 'data:/var/opt/gitlab'

volumes:
  config:
  logs:
  data:

